@using Library.Models.Entity
@model List<tblbook>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>BOOKS</h2>
@using (Html.BeginForm("Index", "Book", FormMethod.Get))
{
    <div style="margin-bottom:15px; margin-top:15px">
        <b>Type the Name of the Book to Search: &nbsp</b> @Html.TextBox("b") &nbsp
        <input type="submit" value="Search" />
    </div>
}
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Writer</th>
        <th>Publication Year</th>
        <th>Publication Home</th>
        <th>Pages</th>
        <th>Status</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.id</td>
            <td>@x.name</td>
            <td>@x.tblcategory.name</td>
            <td>@x.tblwriter.name&nbsp @x.tblwriter.surname</td>
            <td>@x.publicationyear</td>
            <td>@x.publicationhome</td>
            <td>@x.pages</td>
            <td>@x.status</td>
            <td><a href="/Book/FetchBook/@x.id" class="btn btn-warning">Update</a></td>
            <td><a href="/Book/DeleteBook/@x.id" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>
<a href="/Book/NewBook/" class="btn btn-primary">Add New Book</a>

